<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h4>change soup</h4>
    <div th:if="${success}" th:text="${success}">
        issue with success report
    </div>
    <div th:if="${error}" th:text="${error}">
        issue with error report
    </div>
    <form action="/update-soup" method="post">
        <label for="soupName">soup name</label>
        <input type="text" id="soupName" name="soupName" th:value="${soupName}">
        <label for="soupName">soup description</label>
        <input type="text" id="soupDesc" name="soupDesc" th:value="${soupDesc}">
        <label for="imageAddress">image address</label>
        <input type="text" id="imageAddress" name="imageAddress" th:value="${imageAddress}">
        <input type="hidden" name="soupId" th:value="${soupId}">
        <button type="submit">save soup</button>
    </form>

</div>
</body>
</html>